<ion-header color="primary">
  <ion-toolbar>
    <ion-button slot="start" ion-button icon-only (click)="closeModal()" class="back-btn">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>My Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">






  <ion-list>
    <ion-radio-group (ionChange)="radioChange($event)">
      <ion-list-header>
        <ion-label>Personal Status:</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>{{statusLabels?.ok}}</ion-label>
        <ion-radio color="success" slot="start" [value]="statusLabels?.ok"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{statusLabels?.noStatus}}</ion-label>
        <ion-radio slot="start" [value]="statusLabels?.noStatus" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{statusLabels?.limited}}</ion-label>
        <ion-radio color="warning" slot="start" [value]="statusLabels?.limited"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{statusLabels?.closed}}</ion-label>
        <ion-radio color="danger" slot="start" [value]="statusLabels?.closed"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>


  <ion-button color="success" (click)="addNotes()" expand="full">
    Save Status
  </ion-button>

</ion-content>