<ion-header no-border>
  <ion-toolbar transparent>
    <ion-icon class="ion-padding" slot="start" src="assets/navigation/back.svg" [routerLink]="['/tabs/profile']">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fulscreen>
  <h1>Report History</h1>
  <ion-img *ngIf="noReports" class="ion-padding" src="assets/profile/empty.svg"></ion-img>

  <ion-grid *ngIf="!noReports" class="ion-no-padding">
    <ion-row class="row-cards">
      <ion-col *ngFor="let r of reports">
        <div class="card gradient-2 ion-padding">
          <div class="card-number">
            {{r.formName}}
          </div>
          <div class="card-holder">Created on: {{r.when}}</div>
          <div class="card-person-name">Report ID: {{r.reportId}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>Save as: </ion-label>
    <ion-input type="text" placeholder="Enter File Name" [(ngModel)]="filename"></ion-input>
  </ion-item>
  <button (click)="presentAlertRadio()" class="btn ion-padding">Download Reports (CSV)</button>

</ion-content>