ion-header {
    ion-toolbar {
        font-family: 'Nunito', sans-serif;
        background: #F3F6FC;
        --background: #f3f6fc;
        color: #6E7494 !important;
        -webkit-box-shadow: -1px 9px 78px -5px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: -1px 9px 78px -5px rgba(255, 255, 255, 0.5);
        box-shadow: -1px 9px 78px -5px rgba(255, 255, 255, 0.5);

        ion-title {
            font-weight: 900;
            color: #6E7494 !important;
            left: 10px;
        }

        ion-icon {
            color: #6E7494 !important;
            font-weight: bold;
            font-size: 1.25em;
        }

        .back_icon {
            margin-left: 15px !important;
        }
    }

}


ion-content {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    // background: rgb(227, 235, 250);
    // --background: rgb(227, 235, 250);
    background: #EDF3FA;
    --background: #EDF3FA;

    ion-avatar {
        margin-top: 20px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        border: 6px solid #D7DBF2;
    }

    h1 {
        font-family: 'Poppins Black';
        font-weight: 900;
        color: #3D536F !important;
        width: 100%;
        margin: 0 auto !important;
        padding: 15px;
        position: absolute;
        top: 16% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em !important;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    ion-chip {
        background: #fff;
        --background: #fff;
        color: #0054FE;
        width: auto;
        margin: 0 auto !important;
        padding: 15px;
        position: absolute;
        top: 22.5% !important;
        left: 50%;
        transform: translate(-50%, -50%);

        ion-label {
            font-family: 'Nunito', sans-serif !important;
            font-weight: bold;
        }
    }

    ion-list {
        background: #fff;
        --background: #fff;
        width: 100%;
        height: auto;
        padding: 25px;
        padding-bottom: 50px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        position: absolute;
        bottom: 0 !important;
        -webkit-box-shadow: -1px -13px 78px -5px rgba(255, 255, 255, 0.6);
        -moz-box-shadow: -1px -13px 78px -5px rgba(255, 255, 255, 0.6);
        box-shadow: -1px -13px 78px -5px rgba(255, 255, 255, 0.6);

        ion-item {
            padding-bottom: 10px;

            ion-label {
                font-family: 'Nunito', sans-serif !important;
                font-weight: 900;
                color: #6E7494 !important;
                vertical-align: middle;
                margin-top: 10px;
            }

            ion-avatar {
                margin-right: 10px;
            }

            ion-icon {
                vertical-align: middle;
                margin-top: 0 auto;
                font-size: 1.5em;
            }
        }
    }
}