<ion-header>
  <ion-toolbar>
    <ion-button color="warning" slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" src="assets/profile/chevron-back.svg"></ion-icon>
    </ion-button>
    <ion-title>Edit IOI - {{selectedForm.formName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button checked value="form">
      <ion-label>Form</ion-label>
    </ion-segment-button>
    <ion-segment-button value="location">
      <ion-label>Location</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div *ngIf="segment === 'location'">
    <ion-list>
      <!--       <ion-item *ngFor="let item of physicalAddr | keyvalue">
          <ion-label>{{item.key}}</ion-label>
          <ion-input type="text" *ngIf="item.value.length !== 0" placeholder="0"></ion-input>
          <ion-input type="text" *ngIf="item.value.length === 0" placeholder="Fill In..."></ion-input>
        </ion-item> -->
      <ion-item>
        <ion-label>Address:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.Address" placeholder="Fill In..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>State:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.State" placeholder="Fill In..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>City:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.City" placeholder="Fill In..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>District:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.District" placeholder="Fill In..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Zip:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.postalCode" placeholder="Fill In..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Latitude:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.Lat" placeholder="Fill In..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Longitude:</ion-label>
        <ion-input type="text" [(ngModel)]="physicalAddr.Lng" placeholder="Fill In..."></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div class="hide" [class.show]="segment === 'form'">
    <ion-input type="text" name="formName" [value]="selectedForm?.formName"></ion-input>
    <ion-list>
      <ion-reorder-group (ionItemReorder)="onReorderItems($event)" disabled="false">
        <!-- Sliding item with expandable options on both sides -->
        <ion-item-sliding *ngFor="let f of fields">

          <ion-item>
            <ion-label>
              {{f.templateOptions.label}} - {{f.type}}
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="deleteField(f.key)" color="danger" expandable>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </ion-list>

    <form [formGroup]="createForm" class="ion-padding">
      <ion-item>
        <ion-label>Add Input Type: </ion-label>
        <ion-select [(ngModel)]="opt" [value]="opt" formControlName="type" (ionChange)="onTypeChange()"
          placeholder="Select Input">
          <ion-select-option *ngFor="let opt of inputOptions" [value]="opt">{{opt}}</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
    <form class="ion-padding" #myDiv></form>
  </div>



  <ion-list text-center>
    <ion-button (click)="updateForm()">
      Save
    </ion-button>
  </ion-list>

</ion-content>