ion-content {
    background: #EDF3FA;
    --background: #EDF3FA;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;


}

form {
    ion-item {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 12px;

        ion-label {
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 1em;
        }

        ion-select {
            text-transform: capitalize !important;
            border-radius: 12px;
            padding: 10px;
            font-family: 'Nunito', sans-serif;
            font-weight: 800;
            color: #000 !important;

            ion-select-option {
                text-transform: capitalize !important;
            }
        }

        ion-input,
        ion-textarea {
            font-family: 'Nunito', sans-serif;
            font-weight: 800;
            color: #000 !important;
            font-size: 1em;
        }
    }

    .alert-wrapper {
        text-transform: capitalize !important;
    }
}

ion-input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    background: #fff;
    color: #000;
    // box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.144);
}

.show {
    visibility: visible!important;
}

.hide {
    visibility: hidden;
}