<ion-tabs>

  <ion-tab-bar slot="bottom">

    
    <ion-tab-button tab="map">
      <ion-icon name="map" src="assets/tabIcons/home_free.svg" style="font-size: 3.5em!important;"></ion-icon>
      <!-- <ion-label>Tab Two</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home" src="assets/tabIcons/ambulance.svg"></ion-icon>
    </ion-tab-button>
<!--     
    <ion-tab-button tab="offline">
      <ion-icon name="off" src="assets/tabIcons/offline.svg"></ion-icon>
    </ion-tab-button>
 -->
    <ion-tab-button tab="profile">
      <ion-icon name="user" src="assets/tabIcons/user.svg"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
