<!-- <ion-header transparent no-border>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title text-center>Map</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content fullscreen>



  <agm-map [styles]="mapStyles" [zoom]="zoomLevel" [disableDefaultUI]="true" [zoomControl]="false" [latitude]="lat" [longitude]="lng">

    <agm-marker [latitude]="lat" [longitude]="lng" [label]="You" [iconUrl]="mapIcon"></agm-marker>

    <!-- Display Multiple Markers + An Info Window-->
    <agm-marker *ngFor="let point of points | async; trackBy: trackByFn" [latitude]="point.position.geopoint.latitude"
      [longitude]="point.position.geopoint.longitude" [iconUrl]="carIcon">

      <agm-info-window>
        <button expand="block" class="ion-padding btn" (click)="callResponder(point.tels[0])">
          Call {{point.name}}
          <!-- Call Responder <ion-icon src="assets/eIcons/911.svg"></ion-icon> -->
          <ion-ripple-effect></ion-ripple-effect>
        </button>
        <!-- {{ point.hitMetadata | json }} -->
      </agm-info-window>

    </agm-marker>



    <agm-circle [latitude]="lat" [longitude]="lng" [radius]="(radius | async) * 1200"
      [fillColor]="'rgb(79,101,246,0.7)'">
    </agm-circle>



  </agm-map>

    <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-dropup"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="policeCall()">
          <ion-icon name="police" src="assets/tabIcons/policeman.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="fireCall()">
          <ion-icon name="flame"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="medCall()">
          <ion-icon src="assets/tabIcons/ambulance.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>


</ion-content>