<!-- <ion-header transparent no-border>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title text-center>Map</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content fullscreen>
  <agm-map [styles]="mapStyles" [zoomControl]="false" [zoom]="zoomLevel" [latitude]="lat" [longitude]="lng">

    <agm-marker [latitude]="lat" [longitude]="lng" [label]="You" [iconUrl]="mapIcon"></agm-marker>

    <!-- Display Multiple Markers + An Info Window-->
    <agm-marker *ngFor="let m of points | async" (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.pos.geopoint.lat" [longitude]="m.pos.geopoint.lng" [label]="m.name" [iconUrl]="carIcon">

      <agm-info-window>
        <strong>{{m.queryMetadata}}</strong>
      </agm-info-window>

    </agm-marker>


    <agm-circle [latitude]="lat" [longitude]="lng" [radius]="5000" [fillColor]="'rgb(79,101,246,0.7)'"
      [circleDraggable]="false" [editable]="false">
    </agm-circle>


  </agm-map>
</ion-content>