@function random_pastel() {
    $r: random(255);
    $g: random(255);
    $b: random(255);

    // mix white
    $r: ($r + 255) / 2;
    $g: ($g + 255) / 2;
    $b: ($b + 255) / 2;
    @return rgb($r, $g, $b);
}


* {
    font-family: 'Nunito';
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

agm-map {
    width: 100vw;
    height: 100vh;
}

#fab-top {
    margin-top: 50px;

    ion-fab-button {
        --background: #000 !important;
        color: #fff !important;

        ion-icon {
            color: #fff !important;
            padding: 5px;
        }

        ion-fab-list {
            ion-fab-button {
                padding: 25px !important;
            }
        }
    }

    ion-icon {
        font-size: 2em;
        color: #fff !important;
    }
}

agm-info-window {
    ion-item {
        contain:none;
    }
}


#fab-bottom {
    margin-bottom: 50px;

    ion-icon {
        font-size: 2em;
    }
}


.btn {
    width: 100%;
    padding: 2.5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #4F65F6;
    --background: #4F65F6;
    --box-shadow: none;
    border-radius: 4px;
    font-size: 1.5em;
    text-transform: uppercase;
    --color: #fff !important;
    color: #fff;
    outline: none;
}