<ion-content fullscreen>

  <!-- -------------------------------- Image -------------------------------- -->
  <ion-img src="./assets/login_page.jpg"></ion-img>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Log in to your account.</ion-card-subtitle>
      <ion-card-title>Live better, Feel safer.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="card-content">
      <b>SpotOnResponse:</b> In a world where anything can happen, trust the best
      to keep you informed, and keep you safe
      <form #f="ngForm" [formGroup]="loginForm" class="ion-padding">
        <div class="mb-2">
          <input class="input" type="email" name="name" placeholder="Email Address" formControlName="email"/>
        </div>
        <div class="mb-2">
          <input class="input" type="password" name="password" placeholder="Password" formControlName="password"/>
        </div>
      </form>
    </ion-card-content>

  
    <button expand="block" class="ion-padding btn" (click)="logIn()">
      Log In
      <!-- Call Responder <ion-icon src="assets/eIcons/911.svg"></ion-icon> -->
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <button expand="block" class="ion-padding sign-up-btn" (click)="signUp()">
      Create an Account
      <!-- Call Responder <ion-icon src="assets/eIcons/911.svg"></ion-icon> -->
      <ion-ripple-effect></ion-ripple-effect>
    </button>
    <button expand="block" class="ion-padding google-btn" (click)="googleLogIn()">
      Google Sign In
      <!-- Call Responder <ion-icon src="assets/eIcons/911.svg"></ion-icon> -->
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <button expand="block" class="ion-padding facebook-btn" (click)="facebookLogIn()">
      Facebook Sign In
      <!-- Call Responder <ion-icon src="assets/eIcons/911.svg"></ion-icon> -->
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <ion-button size="small" (click)="forgotPasswordPrompt()" color="danger">
      Forgot Password
    </ion-button>
  </ion-card>
</ion-content>