<ion-header transparent no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- 
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" [class.active]="e.active" *ngFor="let e of emergencies" (click)="toggleClass(e)">
        <ion-icon class="ion-text-center" [src]="e.icon"></ion-icon>
     {{ e.name}}
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div *ngIf="org">
    <button expand="block" *ngIf="homeLabels?.myStatusEnabled === true" class="ion-padding btn" (click)="changeStatus()">
      {{homeLabels?.myStatus}}
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <!--   <button expand="block" *ngIf="homeLabels?.siteStatusEnabled === true" class="ion-padding btn" [routerLink]="['/site-status']">
        {{org.homeL.siteStat}}
      <ion-ripple-effect></ion-ripple-effect>
    </button> -->

    <button expand="block" *ngIf="homeLabels?.createIoiEnabled === true" class="ion-padding btn" (click)="presentNakedFormOptions()">
      {{homeLabels?.createIoi}}
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <button expand="block" *ngIf="homeLabels?.myIoiEnabled === true" class="ion-padding btn" [routerLink]="['/my-forms']">
      {{homeLabels?.myIoi}}
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <button *ngIf="homeLabels?.myPlansEnabled === true" expand="block" class="ion-padding btn"
      [routerLink]="['/my-plans', userData.userId]" routerDirection="forward">
      {{homeLabels?.myPlans}}
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
  <ion-img *ngIf="!org" class="ion-padding" src="assets/no_data.svg"></ion-img>

 


</ion-content>