* {
    font-family: 'Poppins', sans-serif;
}
ion-list-header {

    font-family: 'Poppins Black', sans-serif;
    font-weight: 800;
    font-size: 1em;
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    letter-spacing: 2px;
}


.btn {
    width: 100%;
    padding: 8px 16px;
    margin-top: 40px;
    --box-shadow: none;
    border-radius: 4px;
    font-size: 1.5em;
    text-transform: uppercase;
    --color: #fff !important;
    color: #fff;
    outline: none;
    background: rgb(246, 193, 79);
    --background: rgb(246, 193, 79);
    margin-bottom: 20px;
}

ion-content {
    background: rgba(0, 0, 0, 0.925);
    --background: rgba(0, 0, 0, 0.925);
}

ion-list {
    border-radius: 4px;
    background: transparent;
    --background: transparent;
}

ion-item {
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
}